<!-- informiraj page content -->
<section class="inform-us-section">
  <div class="container-custom-80">
    <h1 class="heading1 text-center text-md-start pb-0 pb-md-5">
      Сè што треба да знаеш
    </h1>

    <!-- desktop tabs -->
    <div class="custom-tabs d-none d-md-flex justify-content-between">
      <button
        class="tab-button active"
        data-bs-target="#carouselExample"
        data-bs-slide-to="0"
      >
        Видеа
      </button>
      <button
        class="tab-button"
        data-bs-target="#carouselExample"
        data-bs-slide-to="1"
      >
        Упатства
      </button>
      <button
        class="tab-button"
        data-bs-target="#carouselExample"
        data-bs-slide-to="2"
      >
        Статии
      </button>
    </div>

    <!-- carousel with indicators/arrows only visible on mobile -->
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-indicators d-md-none">
        <button
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide-to="1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide-to="2"
        ></button>
      </div>

      <div class="carousel-inner d-md-none">
        <div class="carousel-item active">
          <div
            class="carousel-content d-flex justify-content-center align-items-center"
          >
            <div class="d-md-none text-center tab-text">Видеа</div>
            <div class="d-none d-md-block content-placeholder"></div>
          </div>
        </div>

        <div class="carousel-item">
          <div
            class="carousel-content d-flex justify-content-center align-items-center"
          >
            <div class="d-md-none text-center tab-text">Упатства</div>
            <div class="d-none d-md-block content-placeholder"></div>
          </div>
        </div>

        <div class="carousel-item">
          <div
            class="carousel-content d-flex justify-content-center align-items-center"
          >
            <div class="d-md-none text-center tab-text">Статии</div>
            <div class="d-none d-md-block content-placeholder"></div>
          </div>
        </div>
      </div>

      <button
        class="carousel-control-prev d-md-none"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <img
          src="../images/tabler_arrow-big-up-filled (1).png"
          alt="Previous"
          class="custom-arrow-icon"
        />
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next d-md-none"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <img
          src="../images/tabler_arrow-big-up-filled (2).png"
          alt="Next"
          class="custom-arrow-icon"
        />
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- filter buttons section -->

    <div class="filter-buttons-container">
      <div class="filter-buttons-wrapper">
        <button class="filter-btn">Најгледани</button>
        <button class="filter-btn">Актуелно</button>
        <button class="filter-btn">Најнови</button>
        <button class="filter-btn">Азбучен редослед</button>
        <button class="filter-btn">Интернет видеа</button>
        <button class="filter-btn">Приватност</button>
        <button class="filter-btn">Опасност</button>
        <button class="filter-btn">Лорем ипсум</button>
        <button class="filter-btn">Лорем ипсум</button>
        <button class="filter-btn">Лорем</button>
        <button class="filter-btn">Лорем лорем ипсум</button>
        <button class="filter-btn">Тема 1</button>
        <button class="filter-btn">Тема 2</button>
        <button class="filter-btn">Тема 3</button>
      </div>
    </div>

    <!-- inform-us cards section -->

    <div class="inform-us-cards pt-4 pt-md-5"></div>

    <div class="text-center mt-2 mb-4 d-flex justify-content-center d-md-none">
      <button id="seeMoreBtn" class="seeMoreBtn-custom align-items-center">
        <i class="fa-solid fa-plus pe-3 fa-lg"></i>Види повеќе
      </button>
    </div>

    <!-- overlay -->

    <div class="overlay-container">
      <div class="overlay">
        <div class="row">
          <div class="col-12 col-md-8 pe-md-5">
            <div id="back-btn">
              <i class="fa-solid fa-arrow-left-long mb-2 back-arrow">
                Назад..</i
              >
            </div>

            <h6>Лоши навики при "Live Streaming"</h6>
            <p>
              Лорем ипсум е едноставен модел на текст кој се користел во
              печатарската индустрија. Лорем ипсум бил индустриски стандард кој
              се користел како модел уште пред 1500 години, кога непознат
              печатар зел кутија со букви и ги сложил на таков начин за да
              направи примерок на книга. И не само што овој модел опстанал пет
              векови туку почнал да се користи и во електронските медиуми, кој
              се уште не е променет.
            </p>
            <span>Објавено на 05/28/23</span>

            <div class="leave-comment mt-4 d-none d-md-block">
              <form>
                <input
                  id="leaveComment"
                  type="text"
                  placeholder="Остави коментар..."
                  class="comment-input"
                />
              </form>
              <div
                class="profile-name-img d-flex justify-content-start align-items-center gap-2 mt-3"
              >
                <img src="../images/user-unlogged.png" alt="unlogged user" class="users-profileimgs"/>
                <p class="mb-0">Име Презиме</p>
              </div>
            </div>

            <div class="comments-scroll d-none d-md-block">
              <div class="leave-comment mt-4 py-3">
                <p>
                  Лорем ипсум е едноставен модел на текст кој се користел во
                  печатарската индустрија. Лорем ипсум бил индустриски стандард
                  кој се користел како модел уште пред 1500 години, кога
                  непознат печатар зел кутија со букви и ги сложил на таков
                  начин за да направи примерок на книга.
                </p>
                <div
                  class="profile-name-img d-flex justify-content-between align-items-center mt-3"
                >
                  <div class="d-flex align-items-center gap-2">
                    <img
                      src="../images/user-comment1.png"
                      alt="User comment img"
                      class="users-profileimgs"
                    />
                    <p class="mb-0">Име Презиме</p>
                  </div>
                  <span class="comment-date">00/00/00, 00:00</span>
                </div>
              </div>
              <div class="leave-comment mt-4 py-3">
                <p>
                  Лорем ипсум е едноставен модел на текст кој се користел во
                  печатарската индустрија. Лорем ипсум бил индустриски стандард
                  кој се користел.
                </p>
                <div
                  class="profile-name-img d-flex justify-content-between align-items-center mt-3"
                >
                  <div class="d-flex align-items-center gap-2">
                    <img
                      src="../images/user-comment2.png"
                      alt="User comment img"
                      class="users-profileimgs"
                    />
                    <p class="mb-0">Име Презиме</p>
                  </div>
                  <span class="comment-date">00/00/00, 00:00</span>
                </div>
              </div>
              <div class="leave-comment mt-4 py-3">
                <p>
                  Лорем ипсум е едноставен модел на текст кој се користел во
                  печатарската индустрија. Лорем ипсум бил индустриски стандард
                  кој се користел како модел уште пред 1500 години кога непознат
                  печатар зел кутија со букви и ги сложил на таков начин за да
                  направи примерок на книга.
                </p>
                <div
                  class="profile-name-img d-flex justify-content-between align-items-center mt-3"
                >
                  <div class="d-flex align-items-center gap-2">
                    <img
                      src="../images/user-comment3.png"
                      alt="User comment img"
                      class="users-profileimgs"
                    />
                    <p class="mb-0">Име Презиме</p>
                  </div>
                  <span class="comment-date">00/00/00, 00:00</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 mt-4 mt-md-0">
            <div class="img-wrapper">
              <button id="playVideoBtn" class="play-btn">
                <i class="fa-solid fa-circle-play"></i>
              </button>
              <img
                src="../images/home_page_1.jpg"
                alt="home_page1"
                class="custom-img"
              />
            </div>
          </div>

          <div class="col-12 d-md-none">
            <div class="leave-comment mt-5 d-block d-md-none">
              <form>
                <input
                  id="leaveComment"
                  type="text"
                  placeholder="Остави коментар..."
                  class="comment-input"
                />
              </form>
              <div
                class="profile-name-img d-flex justify-content-start align-items-center gap-2 mt-3"
              >
                <img src="../images/user-unlogged.png" alt="unlogged user" class="users-profileimgs" />
                <p class="mb-0">Име Презиме</p>
              </div>
            </div>
            <div class="comments-scroll">
              <div class="leave-comment mt-4 py-3">
                <p>
                  Лорем ипсум е едноставен модел на текст кој се користел во
                  печатарската индустрија. Лорем ипсум бил индустриски стандард
                  кој се користел како модел уште пред 1500 години, кога
                  непознат печатар зел кутија со букви и ги сложил на таков
                  начин за да направи примерок на книга.
                </p>
                <div
                  class="profile-name-img d-flex justify-content-between align-items-center mt-3"
                >
                  <div class="d-flex align-items-center gap-2">
                    <img
                      src="../images/user-comment1.png"
                      alt="User comment img"
                      class="users-profileimgs"
                    />
                    <p class="mb-0">Име Презиме</p>
                  </div>
                  <span class="comment-date">00/00/00, 00:00</span>
                </div>
              </div>
              <div class="leave-comment mt-4 py-3">
                <p>
                  Лорем ипсум е едноставен модел на текст кој се користел во
                  печатарската индустрија. Лорем ипсум бил индустриски стандард
                  кој се користел.
                </p>
                <div
                  class="profile-name-img d-flex justify-content-between align-items-center mt-3"
                >
                  <div class="d-flex align-items-center gap-2">
                    <img
                      src="../images/user-comment2.png"
                      alt="User comment img"
                      class="users-profileimgs"
                    />
                    <p class="mb-0">Име Презиме</p>
                  </div>
                  <span class="comment-date">00/00/00, 00:00</span>
                </div>
              </div>
              <div class="leave-comment mt-4 py-3">
                <p>
                  Лорем ипсум е едноставен модел на текст кој се користел во
                  печатарската индустрија. Лорем ипсум бил индустриски стандард
                  кој се користел како модел уште пред 1500 години кога непознат
                  печатар зел кутија со букви и ги сложил на таков начин за да
                  направи примерок на книга.
                </p>
                <div
                  class="profile-name-img d-flex justify-content-between align-items-center mt-3"
                >
                  <div class="d-flex align-items-center gap-2">
                    <img
                      src="../images/user-comment3.png"
                      alt="User comment img"
                      class="users-profileimgs"
                    />
                    <p class="mb-0">Име Презиме</p>
                  </div>
                  <span class="comment-date">00/00/00, 00:00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
