<section class="contact-section">
  <div class="container-custom-80">
    <h1 class="heading1 text-center text-md-start pb-md-5">Контакт</h1>

    <div class="row">
      <div class="col-12">
        <h4 class="contact-title text-center text-md-start mb-5">
          Побарај стручна помош
        </h4>
        <div class="contact-card mb-3">
          <div class="row d-flex align-items-center">
            <div class="col-md-8">
              <h6 class="contact-heading mb-3">
                Агенција за заштита на личните податоци
              </h6>
              <p class="mb-4 mb-md-0">
                Лорем ипсум е едноставен модел на текст кој се користел во
                печатарската индустрија. Лорем ипсум бил индустриски стандард
                кој се користел како модел уште пред 1500 години, кога непознат
                печатар зел кутија со букви и ги сложил на таков начин за да
                направи примерок на книга.
              </p>
            </div>
            <div class="col-md-4 text-center">
              <a href="#" class="contact-link">Линк</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h4 class="contact-title text-center text-md-start mt-3 mb-5 my-md-5">
          Невладини организации
        </h4>
        <div class="contact-card mb-4">
          <div class="row d-flex align-items-center">
            <div class="col-md-8">
              <h6 class="contact-heading mb-3">NGO 1</h6>
              <p class="mb-4 mb-md-0">
                Лорем ипсум е едноставен модел на текст кој се користел во
                печатарската индустрија. Лорем ипсум бил индустриски стандард
                кој се користел како модел уште пред 1500 години, кога непознат
                печатар зел кутија со букви и ги сложил на таков начин за да
                направи примерок на книга.
              </p>
            </div>
            <div class="col-md-4 text-center">
              <a href="#" class="contact-link">Линк</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="contact-card mb-4">
          <div class="row d-flex align-items-center">
            <div class="col-md-8">
              <h6 class="contact-heading mb-3">NGO 2</h6>
              <p class="mb-4 mb-md-0">
                Лорем ипсум е едноставен модел на текст кој се користел во
                печатарската индустрија. Лорем ипсум бил индустриски стандард
                кој се користел како модел уште пред 1500 години, кога непознат
                печатар зел кутија со букви и ги сложил на таков начин за да
                направи примерок на книга.
              </p>
            </div>
            <div class="col-md-4 text-center">
              <a href="#" class="contact-link">Линк</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="contact-card">
          <div class="row d-flex align-items-center">
            <div class="col-md-8">
              <h6 class="contact-heading mb-3">NGO 3</h6>
              <p class="mb-4 mb-md-0">
                Лорем ипсум е едноставен модел на текст кој се користел во
                печатарската индустрија. Лорем ипсум бил индустриски стандард
                кој се користел како модел уште пред 1500 години, кога непознат
                печатар зел кутија со букви и ги сложил на таков начин за да
                направи примерок на книга.
              </p>
            </div>
            <div class="col-md-4 text-center">
              <a href="#" class="contact-link">Линк</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
