<!-- landing page content -->
<header class="banner"></header>

<section class="section-three">
  <h1 class="heading1 text-center">Информирај се и заштити се</h1>
  <div class="container-custom-80 text-center">
    <div class="row justify-content-center">
      <!-- first card -->
      <div class="col-12 col-md-4">
        <div class="card bg-purple border-0 rounded-custom py-3 mb-3 mb-md-0">
          <div class="card-body">
            <div
              class="row d-flex align-items-center justify-content-center g-1"
            >
              <div class="col-8">
                <h4 class="card-title text-start">
                  Научи сè што треба да знаеш
                </h4>
              </div>
              <div class="col-3">
                <img
                  src="../images/mdi_eye-lock-outline.png"
                  class="custom-icon"
                  alt="eye-lock-icon"
                />
              </div>
            </div>

            <p class="text-start card-paragraph">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>
            <a href="#" class="btn-custom">Дознај повеќе</a>
          </div>
        </div>
      </div>

      <!-- second card -->
      <div class="col-12 col-md-4">
        <div class="card bg-blue border-0 rounded-custom py-3 mb-3 mb-md-0">
          <div class="card-body">
            <div
              class="row d-flex align-items-center justify-content-center g-0"
            >
              <div class="col-8">
                <h4 class="card-title text-start">Вклучи се во дискусија</h4>
              </div>
              <div class="col-3">
                <img
                  src="../images/mdi_encryption-check.png"
                  class="custom-icon"
                  alt="encryption-check-icon"
                />
              </div>
            </div>

            <p class="text-start card-paragraph">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>
            <a href="#" class="btn-custom">Дознај повеќе</a>
          </div>
        </div>
      </div>

      <!-- third card -->
      <div class="col-12 col-md-4">
        <div class="card bg-green border-0 rounded-custom py-3 mb-5 mb-md-0">
          <div class="card-body">
            <div
              class="row d-flex align-items-center justify-content-center g-0"
            >
              <div class="col-8">
                <h4 class="card-title text-start">Следи го својот напредок</h4>
              </div>
              <div class="col-3">
                <img
                  src="../images/mdi_user-access-control.png"
                  class="custom-icon"
                  alt="user-access-control-icon"
                />
              </div>
            </div>

            <p class="text-start card-paragraph">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>
            <a href="#" class="btn-custom">Дознај повеќе</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
