<section class="profile-section">
  <div class="container-custom-80">
    <h1 class="heading1 text-center text-md-start py-5">Профил</h1>

    <div class="row d-flex">
      <div
        class="col-12 col-md-4 d-flex flex-column align-items-center align-items-md-start"
      >
        <div class="profile-img-container">
          <img
            src="../images/profile-pic.png"
            alt="Profile image"
            class="profile-img"
            id="profile-image"
          />
          <div class="profile-overlay">
            <div class="profile-overlay-text">Промени</div>
          </div>
        </div>
      </div>
      <div class="col-md-8 pt-4 pt-md-0">
        <form class="profile-form">
          <div class="row">
            <div class="col-md-6">
              <label for="profile-username" class="mb-3"
                >Име и презиме / Корисничко име</label
              >
              <div class="input-wrapper">
                <input
                  type="text"
                  id="profile-username"
                  placeholder="Username"
                  class="profile-inputs"
                  readonly
                />
                <button type="button" class="edit-button">Промени</button>
              </div>

              <label for="profile-email" class="mb-3">Email адреса</label>
              <div class="input-wrapper">
                <input
                  type="email"
                  id="profile-email"
                  placeholder="useruser@gmail.com"
                  class="profile-inputs"
                  readonly
                />
                <button type="button" class="edit-button">Промени</button>
              </div>

              <label for="profile-pass" class="mb-3">Лозинка</label>
              <div class="input-wrapper">
                <input
                  type="password"
                  id="profile-pass"
                  placeholder="* * * * * * * *"
                  class="profile-inputs"
                  readonly
                />
                <button type="button" class="edit-button">Промени</button>
              </div>
            </div>
            <div class="col-md-6">
              <label for="profile-birthdate" class="mb-3"
                >Година на раѓање</label
              >
              <div class="input-wrapper">
                <input
                  type="number"
                  id="profile-birthdate"
                  placeholder="2007"
                  class="profile-inputs"
                  readonly
                />
                <button type="button" class="edit-button">Промени</button>
              </div>

              <label for="profile-gender" class="mb-3">Пол</label>
              <div class="input-wrapper">
                <input
                  type="text"
                  id="profile-gender"
                  placeholder="машки"
                  class="profile-inputs"
                  readonly
                />
                <button type="button" class="edit-button">Промени</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- mobile only button -->
      <div class="text-center mb-4">
        <button id="mobile-edit-button" class="mobile-profile-button">
          Промени
        </button>
      </div>
    </div>

    <div class="row">
      <div class="progress-bar-container">
        <div
          class="col-12 d-flex justify-content-between align-items-center progress-bar-text"
        >
          <span>Следи го својот Safeblink напредок!</span>
          <p>Моментално ниво: Лорем ипсум</p>
        </div>
        <div class="col-12 my-4">
          <div class="progress-bar">
            <div class="progress-fill"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-6 text-center px-0">
        <img
          src="../images/badge (fist).png"
          alt="Fist bagde img"
          class="profile-badges"
        />
        <img
          src="../images/badge(camera).png"
          alt="Camera bagde img"
          class="profile-badges"
        />
        <img
          src="../images/badge (eye).png"
          alt="Eye badge img"
          class="profile-badges"
        />
      </div>
      <div class="col-6 text-center px-0">
        <img
          src="../images/badge (shield).png"
          alt="Fist bagde img"
          class="profile-badges"
        />
        <img
          src="../images/badge (swoards).png"
          alt="Camera bagde img"
          class="profile-badges"
        />
        <img
          src="../images/badge (trophey).png"
          alt="Eye badge img"
          class="profile-badges"
        />
      </div>
    </div>
  </div>
</section>
